/bin/
/.classpath
/.project
*.tfvars
*.tfstate*
*.retry
ansible/test/hosts
ansible/stage/hosts
ansible/prod/hosts
ansible/test/group_vars/all.yml
ansible/stage/group_vars/all.yml
ansible/prod/group_vars/all.yml
.terraform
.DS_Store
